@font-face
  font-family: 'ApercuPro-Bold'
  src: url('../fonts/ApercuPro-Bold.woff') format('woff'), url('../fonts/ApercuPro-Bold.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ApercuPro-Light'
  src: url('../fonts/ApercuPro-Light.woff') format('woff'), url('../fonts/ApercuPro-Light.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ApercuPro-Regular'
  src: url('../fonts/ApercuPro-Regular.woff') format('woff'), url('../fonts/ApercuPro-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal