$browser-context: 14 // Default

@function em($pixels, $context: $browser-context)
  @return #{$pixels / $context}em


@import "libs"
@import "fonts"
@import "utilites/variables"
@import "components/sprite"
@import "utilites/staff"
@import "components/header"
@import "components/footer"
@import "components/slider"
@import "components/club360"
@import "components/stocks"
@import "components/homepage"
@import "components/news-column"
@import "components/herro-collections"
@import "components/vacancies"
@import "components/categories"
@import "components/product-card"
@import "components/collections"
@import "components/contacts"
@import "components/cart"
@import "media"


*, *:focus, *:hover
  outline: none

body
  font-family: 'ApercuPro-Light', Arial, sans-serif
  font-size: 14px
  line-height: 1
  color: $mainColor
  font-weight: 400
  height: 100%
  background-color: $grey

ul
  margin: 0
  padding: 0
  list-style: none

h1, h2, h3, h4, h5, h6
  font-family: 'ApercuPro-Bold', Arial, sans-serif

button
  padding: 0

a:hover
  color: #28b6ae
  transition: color ease-in-out .2s
  text-decoration: underline
