$browser-context: 14 // Default

@function em($pixels, $context: $browser-context)
  @return #{$pixels / $context}em


@import "libs"
@import "fonts"
@import "utilites/variables"
@import "components/sprite"
@import "utilites/staff"
@import "components/header"
@import "components/footer"
@import "components/slider"
@import "components/club360"
@import "components/stocks"
@import "components/homepage"
@import "components/news-column"
@import "components/herro-collections"
@import "components/vacancies"
@import "components/categories"
@import "components/product-card"
@import "components/collections"
@import "components/contacts"
@import "components/cart"
@import "components/cabinet"
@import "components/registration"
@import "components/reserve"
@import "components/looks"
@import "components/news"
@import "components/article"
@import "components/archive"


*, *:focus, *:hover
  outline: none

body
  font-family: 'ApercuPro-Light', Arial, sans-serif
  font-size: 14px
  line-height: 1
  color: $mainColor
  font-weight: 400
  height: 100%
  background-color: $grey

ul
  margin: 0
  padding: 0
  list-style: none

h1, h2, h3, h4, h5, h6
  font-family: 'ApercuPro-Bold', Arial, sans-serif

button
  padding: 0
  border: none

a:hover
  color: #28b6ae
  text-decoration: underline

input[type=text], input[type=email]
  font-family: $apercuLight
  margin-top: 0
  margin-bottom: em(6)
  padding: em(9.5) em(10)
  display: block
  max-width: em(330)
  width: 100%
  font-size: em(14)
  box-sizing: border-box
  border: em(2) solid $mainColor
  background-color: $grey
  transition: border .2s ease-in-out
  font-weight: 400

  &:hover, &:focus
    border-color: $blue

  &::-webkit-input-placeholder
    font-size: em(14)
    color: #000
  &::-moz-placeholder
    font-size: em(14)
    color: #000
  &:-moz-placeholder
    font-size: em(14)
    color: #000
  &:-ms-input-placeholder
    font-size: em(14)
    color: #000

.showing
  display: block

.bgn
  background: none

@media screen and (min-width: 1920px)
  body
    font-size: 19.66px

  .wrapper
    max-width: 1562px

@media screen and (min-width: 1600px) and (max-width: 1919px)
  body
    font-size: 16.39px

  .wrapper
    max-width: 1302px

@media screen and (min-width: 768px) and (max-width: 991px)
  body
    font-size: 14px

@media screen and (min-width: 576px) and (max-width: 767px)
  body
    font-size: 13px

@media screen and (min-width: 414px) and (max-width: 566px)
  body
    font-size: 13px

@media screen and (min-width: 320px) and (max-width: 413px)
  body
    font-size: 14px