.wrapper
  max-width: 1112px
  margin: 0 auto
  padding-left: 40px
  padding-right: 40px

.row
  max-width: 100%
  min-width: 100%
  width: 100%
  display: flex
  flex: 0 0 100%
  flex-wrap: wrap
  align-items: center
  &--top
    align-items: flex-start

.burger
  position: relative
  display: inline-block
  margin-top: 13px
  margin-bottom: 13px
  width: em(17, 30)
  height: em(3, 30)
  background-color: $mainColor
  &::after,
  &::before
    content: ''
    position: absolute
    left: 0
    width: em(17, 30)
    height: em(3, 30)
    background-color: $mainColor
  &::before
    top: em(-8, 30)
  &::after
    bottom: em(-10, 30)

.bag-ico
  display: inline-block
  width: em(20)
  height: em(19)
  background: url("../img/shopping-basket.svg") no-repeat
  background-size: contain
  //@include sprite-box($s-bag)

.btn
  display: inline-block
  min-width: em(262, 14)
  //padding:  em(12, 14) em(60, 14)
  padding-top: em(12, 14)
  padding-bottom: em(12, 14)
  text-transform: uppercase
  color: #fff
  text-decoration: none
  text-align: center
  box-sizing: border-box
  transition: background ease .2s
  &:hover
    color: #fff
    text-decoration: none

  &--grey
    padding-top: em(9)
    padding-bottom: em(9)
    border: em(2) solid $mainColor
    color: $mainColor
    text-decoration: none
    text-transform: none
    &:hover
      background-color: #c6c6c6
      color: $mainColor
      text-decoration: none

  &--green
    background-color: $accentColor
    &:hover
      background-color: #00b29c
    &:active
      background-color: #3abeb1

  &--blue
    background-color: #125a88
    &:hover
      background-color: #2579bf
    &:active
      background-color: #006889


  &--sm
    padding-left: em(58)
    padding-right: em(58)

  &--xs
    min-width: em(187)
    padding-left: em(20)
    padding-right: em(20)


.cube
  position: absolute
  z-index: 10
  &--blue-left
    @include sprite-box($s-cube-blue-left-top)

  &--blue-right
    @include sprite-box($s-cube-blue-left-top)
    transform: rotate(61deg)

  &--white-left
    @include sprite-box($s-cube-white-left-top)

  &--aqua-left
    @include sprite-box($s-cube-aqua-left-top)

  &--aqua-right
    @include sprite-box($s-cube-aqua-right-top)

  &--white-right
    @include sprite-box($s-cube-white-right-top)



.logo__img
  display: inline-block
  width: em(76)
  height: em(76)
  fill: #005480


.play-icon
  display: inline-block
  width: em(71, 14)
  height: em(71, 14)
  border: em(6, 14) solid #008a7b
  border-radius: 50%
  background-color: $grey
  box-sizing: border-box
  &::after
    position: absolute
    top: 50%
    left: 59%
    transform: translate(-50%, -50%)
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: em(18.5) 0 em(18.5) em(32)
    border-color: transparent transparent transparent #008a7a


/* Video modal */
.popup-buble
  .mfp-close
    position: absolute
    top: 40px
    right: 25px
    z-index: 10000
    opacity: 1
    width: auto
    height: auto
    font-size: 0
    padding: 0

  .popup-dialog, .mfp-content
    opacity: 0
    transition: all 0.2s ease-in-out
    transform: scale(0.8) translate3d(0,50%,0)
  &.mfp-ready
    .popup-dialog, .mfp-content
      opacity: 1
      transform: scale(1)
  &.mfp-removing
    .popup-dialog, .mfp-content
      transform: scale(0.8) translate3d(0,-50%,0)
      opacity: 0
  &.mfp-bg
    background: rgba(#231F20, .85)
    opacity: 0
    transition: opacity 0.3s ease
  &.mfp-ready.mfp-bg
    opacity: 1
  &.mfp-removing.mfp-bg
    opacity: 0


.mfp-iframe-holder
  max-width: 1680px
  padding-left: 50px
  padding-right: 50px
  .mfp-content
    max-width: 100%
    width: 100vw
    height: 56.25vw
    max-height: 100vh
    max-width: 177.78vh
    margin: auto
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0


// Fade-move animation
.my-mfp-slide-bottom
  .zoom-anim-dialog
    opacity: 0
    transition: all 0.2s ease-out
    transform: translateY(-20px) perspective(600px) rotateX(10deg)
  &.mfp-ready .zoom-anim-dialog
    opacity: 1
    transform: translateY(0) perspective(600px) rotateX(0)
  &.mfp-removing .zoom-anim-dialog
    opacity: 0
    transform: translateY(-10px) perspective(600px) rotateX(10deg)
  &.mfp-bg
    opacity: 0
    transition: opacity 0.3s ease-out
  &.mfp-ready.mfp-bg
    opacity: 0.8
  &.mfp-removing.mfp-bg
    opacity: 0


/* Video close button */

.close-button
  $size: 40px
  height: $size
  width: $size
  position: relative
  box-sizing: border-box
  line-height: $size
  display: inline-block

  &:before, &:after
    $width: 40px
    $height: 5px
    transform: rotate(-45deg)
    content: ''
    position: absolute
    top: 50%
    left: 50%
    margin-top: -$height/2
    margin-left: -$width/2
    display: block
    height: $height
    width: $width
    background-color: #fff
    transition: all 0.25s ease-out

  &:after
    transform: rotate(-135deg)
  &:hover
    &:before, &:after
      transform: rotate(0deg)


.pull-left
  float: left

.pull-right
  float: right

.nice-select
  font-family: $apercuLight
  width: em(170)
  padding: 0 em(31, 14) 0 0
  height: em(39, 14)
  border: em(2, 14) solid $mainColor
  border-radius: 0
  background-color: $grey
  line-height: em(33, 14)
  text-align: right !important
  font-size: em(14)
  &::after
    right: em(7)
    margin-top: em(-6)
    width: 0
    height: 0
    border-style: solid
    border-width: em(11) em(8) 0 em(8)
    border-color: #000000 transparent transparent transparent
    transform: none

  &.open
    .list
      width: 100%
      border-radius: 0
      border: em(2) solid $mainColor

    &:after
      top: em(13)
      right: em(12)
      transform: rotate(-180deg)

  .current
    display: inline-block
    font-family: $apercuLight
    font-size: em(14, 14)
    height: 100%

  .list
    left: em(-2)
    width: auto !important
    right: em(-2)
    z-index: 100

  &:active,
  &.open,
  &:focus
    border-color: $blue


.checkmark
  display: inline-block
  &:after
    content: ''
    display: block
    width: 3px
    height: 6px
    border: solid #000
    border-width: 0 1px 1px 0
    transform: rotate(45deg)

.plus
  position: relative
  display: inline-block
  width: em(48)
  height: em(48)
  border-radius: 50%
  background-color: #70c385
  cursor: pointer

  &::after,
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: em(28)
    height: em(4)
    transform: translate(-50%, -50%)
    border-radius: 1px
    background-color: #fff

  &::before
    width: em(4)
    height: em(28)


/* overlay at start */
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.3s ease-out

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

/* content at start */
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.3s ease-out

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0


.white-popup
  position: relative
  background: $grey
  padding: 110px 40px 55px
  width: auto
  max-width: 80%
  margin: 20px auto


@media screen and (max-width: 767px)
  .wrapper
    padding-left: 20px
    padding-right: 20px

  .btn
    min-width: 100%
    &--xs
      padding-left: 20px
      padding-right: 20px

    &--sm
      padding-left: em(20)
      padding-right: em(20)

@media screen and (max-width: 500px)
  .white-popup
    padding: 30px 15px 35px
    margin-left: 0
    margin-right: 0
    max-width: 100%
