.header
  position: relative
  padding-top: em(22)
  display: flex
  flex-wrap: wrap

  &--with-bg
    margin-bottom: em(18)
    padding-bottom: em(230)
    background-size: contain

    .nav
      left: 0

  .menu
    position: absolute
    &--type-static
      position: static

  &__news
    margin-top: em(24, 12)
    margin-right: em(6, 12)

  &__menu-button
    background-color: transparent
    border: 0
    font-family: 'ApercuPro-Bold', Arial, sans-serif
    font-size: em(37)
    line-height: em(53, 37)
    text-transform: uppercase
    cursor: pointer


  &__burger
    margin-left: em(2, 30)
    margin-right: em(2, 30)

  &__logo
    margin-left: 35%
    margin-right: auto


  &__cube
    &--blue
      left: 28.5%
      top: 24px

    &--white
      right: 12.9%
      top: 14px

    &--white-right
      left: 44.4%
      bottom: -11%
      z-index: 10

/* Navigation */

.nav
  position: absolute
  width: 100%
  z-index: 1000

  &__wrapper
    position: relative
    display: flex
    padding: em(40) em(97) em(20)
    flex-wrap: wrap
    background: #fff url("../img/sale-girl.png") no-repeat 103% bottom
    border-radius: 15px
    box-shadow: 0 em(5) em(9.96) em(2.04) rgba(0, 0, 0, 0.26)

  &__close
    position: absolute
    top: em(13)
    right: em(30)
    padding: 0
    width: em(38)
    height: em(36)
    background: url("../img/close.svg") no-repeat
    background-size: contain
    border: 0
    cursor: pointer

  &__col
    &--collections
      margin-right: em(121)

  &__list--girls
    margin-bottom: em(34)

  &__first-word
    font-family: 'ApercuPro-Bold', Arial, sans-serif

  &__link
    color: $mainColor
    text-decoration: none
    font-size: em(20)

    &--sub-header
      font-size: em(24)

    &:hover
      text-decoration: underline

  &__item
    margin-bottom: em(12)

    &--header
      margin-bottom: em(24, 43)
      font-family: 'ApercuPro-Bold', Arial, sans-serif
      font-size: em(43)
      text-transform: uppercase

      &-fashion
        margin-bottom: em(2, 43)

      &-stock
        margin-bottom: em(8, 43)

  &__list
    &--contacts
      margin-bottom: em(30)

.header-sub
  margin-top: em(-5)
  flex: 0 0 100%

  &__link
    display: inline-block
    font-size: em(14)
    color: $mainColor
    margin-bottom: em(8, 14)

    &--deferred
      margin-bottom: em(11)
      padding-top: 1px
      letter-spacing: 1px
      text-decoration: none
      span
        float: left

  &__bag-ico
    float: left
    margin-top: em(-2, 14)
    margin-right: em(5, 14)

  &__deferred-text
    margin-top: -1px
    text-decoration: underline

  &__count
    display: inline-block
    margin-top: em(3)
    margin-left: em(5)
    font-family: 'ApercuPro-Bold', Arial, sans-serif
    color: #125a88
    text-decoration: none

  &__profile
    display: flex
    align-items: center
    text-decoration: none
    color: $mainColor

  &__profile-photo
    margin-right: em(8)
    width: em(16)
    height: em(17)
    border-radius: 50%

  &__profile-name
    text-decoration: underline

/* MEDIA QUERIES */

@media screen and (max-width: 1020px)
  .header--with-bg
    margin-left: -15px
    margin-right: -15px
    padding-left: 15px
    padding-right: 15px

    .header__cube--white-right
      right: 100px
      left: auto
      bottom: -225px

@media screen and (max-width: 767px)
  .header__cube--white
    display: none

@media screen and (max-width: 991px)
  .header--with-bg
    .header__cube--white-right
      display: nonez

@media screen and (max-width: 566px)
  .header--with-bg
    .header__logo
      margin-right: 0

    .header-sub
      flex-direction: column
      align-items: flex-start

    .header__cube--white-right
      display: none

  .header__news
    flex-basis: 100%
    max-width: 100% !important

@media screen and (max-width: 404px)
  .header__logo
    margin-left: auto

  .header--with-bg
    margin-left: -15px
    margin-right: -15px
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 100px

