.looks-wrapper
  margin-top: em(-19)
  margin-bottom: em(102)

.looks-slider
  .slider__arrow
    &--prev
      top: 50%
      left: em(21)
      transform: translateY(-50%) rotate(45deg)

    &--next
      top: 50%
      right: em(21)
      transform: translateY(-50%) rotate(-135deg)

.looks-pack
  &__title
    margin-bottom: em(23, 72)
    font-size: em(52)
    text-align: right
    overflow: hidden
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  &__item
    position: relative

    img
      width: 100%

    a
      position: absolute
      top: 50%
      left: 50%
      padding: em(13.5) em(82)
      max-width: em(281)
      transform: translate(-50%, -50%)

  &__close
    position: absolute
    top: 7px
    right: 7px
    background-color: transparent
    cursor: pointer

    svg
      width: em(20)
      height: em(20)


  &--separate
    .looks-pack__title
      margin-bottom: em(4, 72)

    .looks-pack__item > a
      min-width: em(190)
      max-width: inherit
      padding-left: em(10)
      padding-right: em(10)
      top: 22.5%
      right: 4%
      left: auto
      text-transform: uppercase
      background-color: #fff

      //&:hover ~ .looks-pack__submenu
        opacity: 1


  &__submenu
    position: absolute
    top: 25.5%
    right: 1%
    padding: em(30) em(40) 0 em(23)
    background-color: #fff
    box-shadow: 0 em(5) em(9.96) em(2.04) rgba(0, 0, 0, 0.26)
    border-radius: 15px
    min-width: em(275)
    opacity: 0
    transition: opacity ease .3s
    display: none

    li
      display: flex
      justify-content: space-between
      margin-bottom: em(23)

    a
      position: static
      min-width: em(119)
      max-width: inherit
      padding-left: 10px
      padding-right: 10px
      transform: none

    p
      font-weight: 700
      font-size: em(18)
      margin-top: 0
      margin-bottom: 0

@media screen and (max-width: 1100px)
  .looks-pack--separate .looks-pack__item > a
      position: absolute
      top: 40%
      left: 50%
      right: auto
      transform: translate(-50%, -50%)

  .looks-pack__submenu
    top: 60%
    left: 50%
    right: auto
    transform: translate(-50%, -50%)

@media screen and (max-width: 850px)
  .looks-pack__submenu
    top: 70%

@media screen and (max-width: 600px)
  .looks-wrapper
    margin-bottom: 150px

  .looks-pack
    &__title
      font-size: 40px
    &__item
      a
        padding-left: 20px
        padding-right: 20px
        font-size: em(13)


@media screen and (max-width: 500px)
  .looks-pack--separate .looks-pack__item > a
    top: 55%
    left: 50%
    z-index: 1000

  .looks-pack__submenu
    top: 30%
    left: 5%
    right: 5%
    bottom: 5%
    transform: none
    z-index: 1000
    width: auto
    padding: 30px 10px
    font-size: 12px
