.reserve
  &__title
    position: relative
    margin-bottom: em(9, 18)
    padding: em(16, 18) em(48, 18)
    font-size: em(18)
    text-transform: uppercase
    background-color: #125a88 //26 48
    color: #fff
    &::after
      position: absolute
      right: 0
      bottom: em(9, 18)
      content: ''
      display: block
      width: em(172, 18)
      height: em(154, 18)
      background: url("../img/club360-logo.png") no-repeat center center
      background-size: contain

  &__form
    position: relative
    padding: em(55) em(26) em(36) em(62)
    border: em(2) solid $mainColor



    .row
      align-items: flex-start
      flex-wrap: nowrap

      p
        line-height: 1.5

  &__send
    position: absolute
    bottom: em(-19)
    right: em(13)
    width: em(261)
    padding-left: 0
    padding-right: 0
    font-family: $apercuLight
    text-align: center
    cursor: pointer


  &__col
    flex-basis: 32.4%
    margin-right: em(13)
    &:last-child
      margin-right: 0

@media screen and (max-width: 880px)
  .reserve__send
    left: 50%
    transform: translateX(-50%)
    right: auto


@media screen and (max-width: 630px)
  .reserve__form
    padding: 20px
    .row
      flex-wrap: wrap

      p br
        display: none

  .reserve__col
    flex-basis: 45%

@media screen and (max-width: 500px)
  .reserve__col
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 0
    flex-basis: 100%

  .reserve__title::after
    display: none

@media screen and (max-width: 400px)
  .reserve__send
    width: 200px
