.stocks
  padding-top: em(64)
  padding-bottom: em(92)

.stock
  position: relative
  display: flex
  overflow: hidden

  &__full
    flex-basis: 100%
    img
      width: 100%

  &__full,  &__half
    overflow: hidden
    img
      transition: transform ease 1s
    &:hover img
      transform: scale(1.01)

  &__half
    position: relative
    flex-basis: 50%
    margin: 0 em(7.5) em(20)
    overflow: hidden
    &:hover > div > img
      transform: scale(1.01)
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

  &--club
    margin-bottom: em(24)

  &--sale
    margin-bottom: em(20)

  &__btn
    position: absolute

    &--club
      bottom: 20%
      right: 17%

    &--sale
      bottom: 17%
      right: 8%

    &--half
      right: 14.3%
      bottom: 15%

    &--collection
      right: 6.6%

  &__sale-text
    position: absolute
    top: 38%
    right: 25.7%
    font-family: $apercuBold
    text-transform: uppercase
    font-size: em(48)

@media screen and (min-width: 1366px)
  .stock__full,  .stock__half
    img
      width: 100%

@media screen and (max-width: 767px)
  .stock__btn--sale, .stock__btn--club
    bottom: 1px
    left: 50%
    transform: translateX(-50%)
    opacity: 0.8
    padding-top: 15px
    padding-bottom: 15px

  .stock__btn--half
    bottom: 1px

  .stock__half
    flex-basis: auto
    margin-left: auto !important
    margin-right: auto !important
    text-align: center
    align-self: center
    img
      display: inline-block

  .stock
    flex-wrap: wrap

@media screen and (min-width: 576px) and (max-width: 767px)
  .stock__btn--half
    left: 50%
    bottom: 0
    transform: translateX(-50%)

@media screen and (max-width: 566px)
  .stocks
    padding-top: 30px

  .stock__half
    img
      width: 100%

  .stock__btn--half
    left: 50%
    right: 0
    opacity: 0.8
    padding-top: 15px
    padding-bottom: 15px
    transform: translateX(-50%)

  .stock__sale-text
    display: none
